@import url('https://fonts.googleapis.com/css?family=Raleway');
html,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: "Raleway";
}

.navbar {
    background: #9cafce;
}

.nav-link,
.navbar-brand {
    color: #f4f4f4;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    background: #f4f4f4;
    color: #9cafce;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background: #fff !important;
}


/*header style*/

.header {
    background-image: url('../image/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
}


/*Описание в header*/

.description {
    position: absolute;
    top: 10%;
    margin: auto;
    padding: 2em;
    display: block;
}

.description h3 {
    color: #4286f4;
}

.description p {
    color: #666;
    font-size: 20px;
    width: 70%;
    line-height: 1.5;
    margin: 10px;
}


/*Обо мне*/

.about {
    margin: 4em 0;
    padding: 1em;
    position: relative;
}

.about h2 {
    color: #4286f4;
    margin: 2em;
}

.about img {
    max-width: 300px;
    border-radius: 50px;
}

.about span {
    display: block;
    color: #888;
    position: absolute;
    left: 115px;
}

.about .desc {
    padding: 2em;
    border-left: 4px solid #10828C;
}

.about .desc h3 {
    color: #10828C;
}

.about .desc p {
    line-height: 2;
    color: #888;
}


/*Portfolio*/

.portfolio {
    margin: 2em 0;
    position: relative;
}

.portfolio h2 {
    color: #4286f4;
    margin: 2em;
}

.portfolio img {
    max-width: 90%;
    margin: 1em;
    border-radius: 5px;
}

.blog {
    margin: 4em 0;
    position: relative;
    display: flex;
    padding-bottom: 10px;
}

.blog h2 {
    color: #10828C;
    margin: 2em;
}

.blog .card {
    box-shadow: 0 0 20px #ccc;
    margin: 1em;
    padding-bottom: 10px;
}

.blog .card img {
    width: 100%;
    height: 100%;
}

.blog .card-title {
    color: #10828C;
}

.blog .card-body {
    padding: 1em;
}

.container {
    margin-bottom: 5px;
    padding-bottom: 5px;
    bottom: 5px;
    max-width: 100%;
}


/*Раздел Веб-технологии*/

.webtech {
    margin: 4em 0;
    position: relative;
    display: flex;
}

.webtech h2 {
    color: #10828C;
    margin: 2em;
}

.webtech .item {
    position: relative;
    width: 150px;
}

.webtech .des {
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 93%;
}

.webtech .item:hover .des {
    height: 100%;
    background: #8fafe97d;
    position: absolute;
    width: 89%;
    padding: 5em;
    top: 0;
    border-bottom-left-radius: 0;
}


/*Form*/

.contact-form {
    margin: 6em 0;
    position: relative;
}

.contact-form h2 {
    padding: 2em 1px;
    color: #10828C;
}

.contact-form .right {
    max-width: 600px;
}

.contact-form .right .btn-secondary {
    background: #10828C;
    color: #fff;
    border: 0;
}

.contact-form .right .form-control::placeholder {
    color: #888;
    font-size: 16px;
}

footer {
    max-width: 100%;
    background: #9cafce;
    padding: 15px;
    position: relative;
    display: flex;
    padding: 5px;
}

.right {
    margin: 5px;
    max-width: 64px;
    justify-content: flex-end;
}

.right img {
    max-width: 30px;
}

.paginator {
    max-width: 30px;
    height: 100px;
}